<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truck.dao.ICredentialsDao">

	<!-- 通过id查询司机认证信息 -->
	<select id="selectCredentialsById" parameterType="int" resultMap="CredentialsMap">
		select 
			c_id, 
			c_idcard_front, 
			c_idcard_back, 
			c_license_front, 
			c_license_back, 
			c_drivering_front, 
			c_drivering_back, 
			c_state,
			c_d_id, 
			c_t_id 
		from 
			t_credentials 
		where 
			c_id=#{id}
	</select>

	<!-- 通过state查询司机认证信息(分页显示) -->
	<select id="selectCredentialsByState" parameterType="int" resultMap="CredentialsMap">
		select 
			c_id,
			c_idcard_front, 
			c_idcard_back, 
			c_license_front, 
			c_license_back, 
			c_drivering_front, 
			c_drivering_back, 
			c_state, 
			c_d_id, 
			c_t_id 
		from 
			t_credentials 
		where 
			c_state=#{state}
		limit
			#{limitIndex},10
	</select>
	
	<!-- 查询所有司机认证信息(分页显示) -->
	<select id="selectAllCredentials" resultMap="CredentialsMap">
		select * from t_credentials limit #{limitIndex},10
		<!-- select c_id,c_idcard_front,c_idcard_back,c_license_front,c_license_back,c_drivering_front,c_drivering_back,c_state,c_d_id,c_t_id from t_credentials limit #{limitIndex},10 -->
	</select>
	
	<resultMap id="CredentialsMap" type="CredentialsBean">
		<id property="id"  column="c_id" ></id>
		<result property="idCardFront" column="c_idcard_front" />
		<result property="idCardBack" column="c_idcard_back" />
		<result property="licenseFront" column="c_license_front" /> 
		<result property="licenseBack" column="c_license_back" />
		<result property="driveringFront" column="c_drivering_front" />
		<result property="driveringBack" column="c_drivering_back" />
		<result property="state" column="c_state" />
		<association property="driverBean" column="c_u_id"  select="com.truck.dao.IUserDao.selectUserById"  fetchType="lazy"/>
		<association property="truckBean" column="c_t_id"  select="com.truck.dao.ITruckDao.getTruckMsgById"  fetchType="lazy"/>
	</resultMap>
	
</mapper>