<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truck.dao.IDriverDao">
	
	<!-- <select id="selectDriverById" parameterType="int" resultType="DriverBean">
		select d_id as id,d_name as name,d_pass as pass,d_realname as realName,d_idnumber as idNumber,d_sex as sex from t_driver where d_id=#{id};
	</select>

	<select id="selectDriverByName" parameterType="String" resultType="DriverBean">
		select d_id as id,d_name as name,d_pass as pass,d_realname as realName,d_idnumber as idNumber,d_sex as sex from t_driver where d_name=#{name};
	</select> -->
	
</mapper>