<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truck.dao.ITruckDao">
	
	<select id="getTruckMsgById"  parameterType="int" resultMap="TruckMap">
		select t_id, t_g_id, t_t_id, t_load, t_platenumber, t_location from t_truck where t_id =#{id}
	</select>
	<select id="getTruckMsgByBean"  parameterType="TruckBean" resultMap="TruckMap">
		select t_id, t_g_id, t_t_id, t_load, t_platenumber, t_location from t_truck
		<where>
			<if test="truck.id != null" >t_id =#{truck.id}</if>
			<if test="truck.load != null" > and t_load=#{truck.load}</if>
			<if test="truck.plateNumber != null" > and t_platenumber=#{truck.plateNumber}</if>
			<if test="truck.location != null" > and t_location=#{truck.location}</if>
		</where>
	</select>
	<insert id="addTruck"  parameterType="TruckBean" >
		insert into t_truck (t_g_id, t_t_id, t_load, t_platenumber, t_location) values (#{truck.gpsBean.id}, #{truck.carTypeBean.id}, #{truck.load}, #{truck.plateNumber}, #{truck.location} )
	</insert>
	<update id="updateTruck" parameterType="TruckBean">
		update t_truck set t_g_id=#{truck.gpsBean.id}, t_t_id=#{truck.carTypeBean.id}, t_load=#{truck.load}, t_platenumber=#{truck.plateNumber}, t_location=#{truck.location} }
		where t_id=#{truck.id}
	</update>
	<resultMap id="TruckMap" type="TruckBean">
		<id property="id"  column="t_id" ></id>
		<result property="load" column="t_load" />
		<result property="plateNumber" column="t_platenumber" /> 
		<result property="location" column="t_location" />
		<association property="carTypeBean" column="t_t_id"  select="com.truck.dao.ICarTypeDao.selectByPrimaryKey"  fetchType="lazy"/>
		<association property="gpsBean" column="t_g_id"  select="com.truck.dao.IGPSDao.selectByPrimaryKey"  fetchType="lazy"/>
	</resultMap>
</mapper>