body {
    margin: 0 auto;
    width:100%;
    background-color: #f8f8ff;
}

#main {
    width: 90%;
    height: 600px;
    background-color: rgba(255, 255, 255, .10);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) inset;
    border-radius: 5px 5px 5px 5px;
    margin: 80px auto -160px auto;
}

.main-menu {
    width: 15%;
    height: 100%;
    background-color: rgb(255,172,89);
    border-radius: 5px 0px 0px 5px;
    float: left;
}

.main-menu div {
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) inset;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}

#checking img,#checked img,#all img,#gps img {
    width: 20px;
    margin-top: 15px;
}

#check {
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 1px 1px rgba(255,172,89, .1) inset;
    background-color: rgb(255,172,89);
    margin: 20px auto;
    line-height: 50px;
    text-align: center;
}

#check img {
    width: 50px;
}

.main-context {
    width: 85%;
    height: 100%;
    background-color: rgba(255, 255, 255, .10);
    border-radius: 0px 5px 5px 0px;
    float: left;
}

.context-top {
    width: 98%;
    height: 7%;
    border-bottom: 1px red solid;
    margin: 0 auto;
    font-size: 13px;
    line-height: 50px;
}

#context-top img {
    width: 15px;
    margin-top: 19px;
}

.context-bottom {
    width: 98%;
    height: 8%;
    margin: 6px auto;
}

.context-menu {
    width: 98%;
    height: 5%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) inset;
    margin: 5px auto;
}

.context {
    width: 98%;
    height: 77%;
    margin: 5px auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) inset;
}

.context-menu div {
    float: left;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.order {
    width: 50px;
    margin-left: 10px;
}

.number {
    width: 200px;
}

.name {
    width: 200px;
}

.license {
    width: 120px;
}

.drivering {
    width: 120px;
}

.car-info {
    width: 120px;
}

.state {
    width: 120px;
}

.manage {
    width: 120px;
}