.loginout {
    width: 400px;
    height: 480px;
    margin:auto;
    background-color: #cbb8ff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 100px;
    border-right: solid 1px black;
    border-bottom:solid 1px black;
}
.loginlogo{
    width:100%;
    height: 130px;
}
.logo {
    width: 120px;
    height: 120px;
    margin:auto;
    padding-top: 5px;

}
.logo img{
    width:100%;
    height:100%;
}
.logininputout {
    width:100%;
    overflow: hidden;
    display: flex;
}
.logininputout input {
    width:100%;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
}
.logininputleft {
    width: 150px;
    height: 35px;
    float: left;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    line-height: 35px;
}
.logininputright{
    width: 40px;
    height: 32px;
}
.partition {
    width: 100%;
    height: 32px;
    text-align: center;
    font-size: 18px;
    color: red;
    line-height: 32px;
}
.verification {
    width:100%;
    overflow: hidden;
    display: flex;
    height: 80px;
    line-height: 80px;
}
.verificationleft {
    width: 130px;
    height: 80px;
    float: left;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}
.verificationimage{
    width: 150px;
    height: 60px;
    border: solid 1px black;
    margin-top: 5px;
    margin-left: 50px;
    float: left;
    margin-right:30px;
}
.loginbuttonout {
    width:100%;
    overflow: hidden;
    display: flex;
    height: 80px;
    line-height: 80px;
}
.loginbuttonleft {
    width: 180px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-left: 60px;
    border-radius:18px;
    color: white;
    background-color: #ff67cd;
    letter-spacing: 6px;
}
.loginbuttonleft:hover{
    background-color: #f013e8;
    color: #ffb0e0;
}
.loginbuttonright {
    padding-left: 30px;
    font-size: 18px;
    color: red;
}
.backout {
    width:100%;
    overflow: hidden;
    display: flex;
    height: 40px;
    line-height: 40px;
}
.backindex{
    margin-left: 80px;
    font-size: 18px;
    letter-spacing: 4px;
    color: #ee19ad;
}
a:link{
    text-decoration: none;
    color: #bb3bff;
}
a:visited{
    color: #bb3bff;
}
.verificationright{
}
.verificationright input {
	width:100%;
	height:35px;
}
#vercodepicture {
	width:99%;
	height:99%;
}