body,hr{
    border: 0px;
    margin: 0px;
}
body, html,#allmap {
    width: 100%;
    height: 100%;
    margin:0;
    font-family:"微软雅黑";
}
body{
	height: 89%;
}
#package{
	
	width:100%;
	margin-top:80px;
	margin-bottom:-160px;
}
li{
    list-style-type: none;
    display: inline-block;
}
ul{
    margin: 0px;
}
/*#order-list-view{*/
    /*padding-top: 200px;*/
/*}*/
#order-list-header{
    border-top: 1px solid rgb(204, 204, 204);
}
#order-list-header span{
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    line-height: 48px;
    padding: 10px 20px;
    cursor:pointer;
}
#order-list-header span:hover{
    color: #f60;
}
#order-list-view{
    margin-left: 120px;
}
#order-list-header li{
    width: 20%;
    height: 48px;
}
#order-table{
    margin-top: 16px;
    height: 53px;
    color: #666666;
    font-size: 14px;
    line-height: 48px;
}
#order-table ul{
    width: 100%;
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 0;
}
.table-1,.table-2{
    width: 10%;
}
.table-3{
    width: 20%;
}
.table-4{
    width: 20%;
}
.table-5{
	width: 8%;
}
#side{
    width: 120px;
    float: left;
    background-color: #f7f2ee;
    height: 100%;
    border-right: 1px solid rgb(204, 204, 204);
}
img{
    width: 50px;
}
#side a{
    display: inline-block;
    height: 131px;
    padding: 30px 0 ;
    text-align: center;
    width: 100%;
    color: #666666;
    text-decoration: none;
    font-size: 14px;

}
#side ul :hover{
    background-color: #ffffff;
}
.span-a{
    display: block;
    text-align: center;
}
#side li{
    width: 120px;
    margin-left: -40px;
    color: #666666;
}
#side ul{
    margin: 0;
}

#head{
    width: 100%;
    height: 80px;
}

#foot{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
#allmap{
    position: absolute;
    /*left: -100px;*/
    /*top: -100px;*/

}
#package{
	width: 100%;
	height: 89%;
}
#head{
	width: 100%;
	height: 80px;
}
.orderinfo{
	
	float: left;
	
}
/* .order1,.order2{
	width: 10%;
}
.order3{
	width: 20%;
}
.order4{
	width: 20%;
}
.order5{
	height: 28px;
    margin-top: 10px;
} */
#order{
	width: 100%;
}




.demo{
    width: 100%;
    /* height: 100%; */
    position: relative;
    /*top: -100px;*/
    /*left:-100px;*/
}
.demo-bg{
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 0;
    width: 100%;
    height: 671px;
    /*filter:Alpha(opacity=50);*/
    /*background-color: rgba(0,0,0,0.4); !*实现透明背景*!*/
    display: none;
}
.demo-txt{
    position: relative;
    z-index: 1;
    color: #000;
    background: white;
    width: 80%;
    height: 600px;
    margin: 0;
    /*margin:auto;*/
    /*padding: auto;*/
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    /*padding: 10px;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#btn{
    position: absolute;
    /*bottom: 135px;*/
    /*right: 98px;*/
    z-index: 4;
    /*top: -100px;*/
    /*left:-100px;*/
}

#baidumappage{
    width: 100%;
    height: 77%;
}
#button{
	/* cursor: pointer; */
	width: 10%;
}